In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

import json # library to handle JSON files

from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from bs4 import BeautifulSoup # library to parse HTML and XML documents

from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

import folium # map rendering library

print("Libraries imported.")

Libraries imported.

In [2]:
data = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(data, 'html.parser')

In [3]:
# create three lists to store table data
postalCodeList = []
boroughList = []
neighborhoodList = []

In [4]:
# find the table
soup.find('table').find_all('tr')

# find all the rows of the table
soup.find('table').find_all('tr')

# for each row of the table, find all the table data
for row in soup.find('table').find_all('tr'):
    cells = row.find_all('td')

In [5]:
# append the data into the respective lists
for row in soup.find('table').find_all('tr'):
    cells = row.find_all('td')
    if(len(cells) > 0):
        postalCodeList.append(cells[0].text.rstrip('\n'))
        boroughList.append(cells[1].text.rstrip('\n'))
        neighborhoodList.append(cells[2].text.rstrip('\n')) # avoid new lines in neighborhood cell

In [6]:
# create a new DataFrame from the three lists
toronto_df = pd.DataFrame({"PostalCode": postalCodeList,
                           "Borough": boroughList,
                           "Neighborhood": neighborhoodList})

toronto_df.head()

  PostalCode           Borough                Neighborhood
0        M1A      Not assigned
1        M2A      Not assigned
2        M3A        North York                   Parkwoods
3        M4A        North York            Victoria Village
4        M5A  Downtown Toronto  Regent Park / Harbourfront

In [7]:
# drop cells with a borough that is Not assigned
toronto_df_dropna = toronto_df[toronto_df.Borough != "Not assigned"].reset_index(drop=True)
toronto_df_dropna.head()

  PostalCode           Borough                                  Neighborhood
0        M3A        North York                                     Parkwoods
1        M4A        North York                              Victoria Village
2        M5A  Downtown Toronto                    Regent Park / Harbourfront
3        M6A        North York             Lawrence Manor / Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [8]:
# group neighborhoods in the same borough
toronto_df_grouped = toronto_df_dropna.groupby(["PostalCode", "Borough"], as_index=False).agg(lambda x: ", ".join(x))
toronto_df_grouped.head()

  PostalCode      Borough                              Neighborhood
0        M1B  Scarborough                           Malvern / Rouge
1        M1C  Scarborough  Rouge Hill / Port Union / Highland Creek
2        M1E  Scarborough       Guildwood / Morningside / West Hill
3        M1G  Scarborough                                    Woburn
4        M1H  Scarborough                                 Cedarbrae

In [9]:
# for Neighborhood="Not assigned", make the value the same as Borough
for index, row in toronto_df_grouped.iterrows():
    if row["Neighborhood"] == "Not assigned":
        row["Neighborhood"] = row["Borough"]
        
toronto_df_grouped.head()

  PostalCode      Borough                              Neighborhood
0        M1B  Scarborough                           Malvern / Rouge
1        M1C  Scarborough  Rouge Hill / Port Union / Highland Creek
2        M1E  Scarborough       Guildwood / Morningside / West Hill
3        M1G  Scarborough                                    Woburn
4        M1H  Scarborough                                 Cedarbrae

In [10]:
# create a new test dataframe
column_names = ["PostalCode", "Borough", "Neighborhood"]
test_df = pd.DataFrame(columns=column_names)

test_list = ["M5G", "M2H", "M4B", "M1J", "M4G", "M4M", "M1R", "M9V", "M9L", "M5V", "M1B", "M5A"]

for postcode in test_list:
    test_df = test_df.append(toronto_df_grouped[toronto_df_grouped["PostalCode"]==postcode], ignore_index=True)
    
test_df

,PostalCode,Borough,Neighborhood
0,M5G,Downtown Toronto,Central Bay Street
1,M2H,North York,Hillcrest Village
2,M4B,East York,Parkview Hill / Woodbine Gardens
3,M1J,Scarborough,Scarborough Village
4,M4G,East York,Leaside
5,M4M,East Toronto,Studio District
6,M1R,Scarborough,Wexford / Maryvale
7,M9V,Etobicoke,South Steeles / Silverstone / Humbergate / Jam...
8,M9L,North York,Humber Summit
9,M5V,Downtown Toronto,CN Tower / King and Spadina / Railway Lands / ...
10,M1B,Scarborough,Malvern / Rouge
11,M5A,Downtown Toronto,Regent Park / Harbourfront

In [11]:
# print the number of rows of the cleaned dataframe
toronto_df_grouped.shape

(103, 3)

In [13]:
!wget -O Geospatial_Coordinates.csv https://cocl.us/Geospatial_data/Geospatial_Coordinates.csv

--2020-05-02 14:40:35--  https://cocl.us/Geospatial_data/Geospatial_Coordinates.csv
Resolving cocl.us (cocl.us)... 169.48.113.194, 158.85.108.83, 158.85.108.86
Connecting to cocl.us (cocl.us)|169.48.113.194|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2020-05-02 14:40:39--  https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.box.com (ibm.box.com)... 107.152.27.197
Connecting to ibm.box.com (ibm.box.com)|107.152.27.197|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2020-05-02 14:40:39--  https://ibm.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Reusing existing connection to ibm.box.com:443.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2020-05-02 14:40:39--  https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.ent.box.com (ibm.ent.box.com)... 107.152.27.211
Connecting to ibm.ent.box.com (ibm.ent.box.com)|107.152.27.211|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://public.boxcloud.com/d/1/b1!2Ohq7jFymuGVS9spN68wyn3OSiywhcqyhAULdwn7cXKzfNjK47OE4uxNBd7mJzXeR-vVu9NtwTdlxn4ZclF2I2CTFQqNe-QDoEdGbucY7u8SAoN1m_2DleCUL3B4fw-OZJgqkgeP98VrUwXBtHnk4lNjFNonbo-fgM6rbREGML8KMskyJhmw5Hflnm8U-bUEKz5Kiwoy9rG1ckbALH4AlluqDxQ4YmGuWPCSKNXllnxInMH7kkbgwxONF2lJmDOkn3DeXUPWzJuC41W6BlnB9wl7-wCsQTV4cpxyWQH3mrfXoBRepGvxt3e6npgjwNKz9-ogpBTzKy1uIcwayBDoOth_Ni3fgcJVnniSIPdllleheXSuh2i3FOwgz84ZnpDbWXcXC4P40v8LFR73zPIDTSZAF9Fd1XDizYa6ESKbUeZeBpUs0xzaEsUcmo1Q4wZrOl-8iun-4foF_sdVSpctLiOkNwAm1qQeNKbR5_-0VHunyMWEhi0Qxa7fwEAZ7EQcWOXS-aGmmlhOOxWBnCTXXQxTQfr5UgE7qfHiiCiElInv-Cla8L3ift-oWo08XJZkShdctLWzjp3lkcYdVvzVvUHL2cbo7DKbnL16ye3qVj5S-kziMMTQVZTLtiBOitJ3XaXYHCfFjVJ2up6figp_ChOEC6czWwRh1EGNu9IHCzn4a7yiGD0L24Ne0bn1LcjBDbn9iH9tkw2TiWoZZZ5-YQhOVSYHSloJTbbBpiZsc4kxfWTIN8hgJxtJ_iLOyCCU6aSUEr1Rav3CWB13PLQ4lvlfZFzKZwesq2WEnAF8dfw__C7c6c2WL4B01Mo578B9mDhqwxqJx2x8u8nrLJj8NKY4Igz9aK4Ycsxlquacd20Lhy5f5RJJtqtj5wlRZgn-NZrilwQGMAf0TUwMXTbeNwvykS8kf1QrtCw0siJU77-lDyzxsZNVykgU11137yzGMFDOw64qcawR9DdVw8yoALORWTc0beR9FNP_xt01WfSZ6DL2AfzT7NyEyNHBgEBaPb772m-l9KbIBjhBLQppnpPg9wzXQMbLTVzXEOALzpfSALxnPVnPwsr-JRHjzLm4Pl2GlrrT8BOFRZzP3_QPgsLq7D30yhuyyhJfF4jIOrvq8-Tp1DNchp9Za2HTJZjOSkOqUk5uRjj1Wkm_PvMVnfdLZeE5ntPyGF96vEvMLhO7yZI-ZZB3_HXQCqqKmBR5iOYQAp30CDTuYLFXlCHK_Z58s3SMKjCsdzp3ylKgtsPCzjsyFcgXXE-x8UugGfQer5sh7zDVbrj8hlZV5OJ58xtXv2VwNm6LTS8NhCYgqhakZHUgW8YtOErFUmSzZPqn82BUsfhoQ39-FfXHfFYXr2BMMBsqj2JxQqV2rsz4pRKUkfDK7dCyPjeg_Su6G5IjUPHSypbExZR1IpqYmHKIiKb9KtHTbqmQ0SzY1WZSiPiQWw../download [following]
--2020-05-02 14:40:40--  https://public.boxcloud.com/d/1/b1!2Ohq7jFymuGVS9spN68wyn3OSiywhcqyhAULdwn7cXKzfNjK47OE4uxNBd7mJzXeR-vVu9NtwTdlxn4ZclF2I2CTFQqNe-QDoEdGbucY7u8SAoN1m_2DleCUL3B4fw-OZJgqkgeP98VrUwXBtHnk4lNjFNonbo-fgM6rbREGML8KMskyJhmw5Hflnm8U-bUEKz5Kiwoy9rG1ckbALH4AlluqDxQ4YmGuWPCSKNXllnxInMH7kkbgwxONF2lJmDOkn3DeXUPWzJuC41W6BlnB9wl7-wCsQTV4cpxyWQH3mrfXoBRepGvxt3e6npgjwNKz9-ogpBTzKy1uIcwayBDoOth_Ni3fgcJVnniSIPdllleheXSuh2i3FOwgz84ZnpDbWXcXC4P40v8LFR73zPIDTSZAF9Fd1XDizYa6ESKbUeZeBpUs0xzaEsUcmo1Q4wZrOl-8iun-4foF_sdVSpctLiOkNwAm1qQeNKbR5_-0VHunyMWEhi0Qxa7fwEAZ7EQcWOXS-aGmmlhOOxWBnCTXXQxTQfr5UgE7qfHiiCiElInv-Cla8L3ift-oWo08XJZkShdctLWzjp3lkcYdVvzVvUHL2cbo7DKbnL16ye3qVj5S-kziMMTQVZTLtiBOitJ3XaXYHCfFjVJ2up6figp_ChOEC6czWwRh1EGNu9IHCzn4a7yiGD0L24Ne0bn1LcjBDbn9iH9tkw2TiWoZZZ5-YQhOVSYHSloJTbbBpiZsc4kxfWTIN8hgJxtJ_iLOyCCU6aSUEr1Rav3CWB13PLQ4lvlfZFzKZwesq2WEnAF8dfw__C7c6c2WL4B01Mo578B9mDhqwxqJx2x8u8nrLJj8NKY4Igz9aK4Ycsxlquacd20Lhy5f5RJJtqtj5wlRZgn-NZrilwQGMAf0TUwMXTbeNwvykS8kf1QrtCw0siJU77-lDyzxsZNVykgU11137yzGMFDOw64qcawR9DdVw8yoALORWTc0beR9FNP_xt01WfSZ6DL2AfzT7NyEyNHBgEBaPb772m-l9KbIBjhBLQppnpPg9wzXQMbLTVzXEOALzpfSALxnPVnPwsr-JRHjzLm4Pl2GlrrT8BOFRZzP3_QPgsLq7D30yhuyyhJfF4jIOrvq8-Tp1DNchp9Za2HTJZjOSkOqUk5uRjj1Wkm_PvMVnfdLZeE5ntPyGF96vEvMLhO7yZI-ZZB3_HXQCqqKmBR5iOYQAp30CDTuYLFXlCHK_Z58s3SMKjCsdzp3ylKgtsPCzjsyFcgXXE-x8UugGfQer5sh7zDVbrj8hlZV5OJ58xtXv2VwNm6LTS8NhCYgqhakZHUgW8YtOErFUmSzZPqn82BUsfhoQ39-FfXHfFYXr2BMMBsqj2JxQqV2rsz4pRKUkfDK7dCyPjeg_Su6G5IjUPHSypbExZR1IpqYmHKIiKb9KtHTbqmQ0SzY1WZSiPiQWw../download
Resolving public.boxcloud.com (public.boxcloud.com)... 107.152.25.200
Connecting to public.boxcloud.com (public.boxcloud.com)|107.152.25.200|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2891 (2.8K) [text/csv]
Saving to: ‘Geospatial_Coordinates.csv’

Geospatial_Coordina 100%[===================>]   2.82K  --.-KB/s    in 0.001s

2020-05-02 14:40:40 (3.77 MB/s) - ‘Geospatial_Coordinates.csv’ saved [2891/2891]

In [14]:
coordinates = pd.read_csv("Geospatial_Coordinates.csv")
coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [15]:
# rename the column "PostalCode"
coordinates.rename(columns={"Postal Code": "PostalCode"}, inplace=True)
coordinates.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [16]:
# merge two table on the column "PostalCode"
toronto_df_new = toronto_df_grouped.merge(coordinates, on="PostalCode", how="left")
toronto_df_new.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,Malvern / Rouge,43.806686,-79.194353
1,M1C,Scarborough,Rouge Hill / Port Union / Highland Creek,43.784535,-79.160497
2,M1E,Scarborough,Guildwood / Morningside / West Hill,43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [17]:
# create a new test dataframe
column_names = ["PostalCode", "Borough", "Neighborhood", "Latitude", "Longitude"]
test_df = pd.DataFrame(columns=column_names)

test_list = ["M5G", "M2H", "M4B", "M1J", "M4G", "M4M", "M1R", "M9V", "M9L", "M5V", "M1B", "M5A"]

for postcode in test_list:
    test_df = test_df.append(toronto_df_new[toronto_df_new["PostalCode"]==postcode], ignore_index=True)
    
test_df

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M5G,Downtown Toronto,Central Bay Street,43.657952,-79.387383
1,M2H,North York,Hillcrest Village,43.803762,-79.363452
2,M4B,East York,Parkview Hill / Woodbine Gardens,43.706397,-79.309937
3,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
4,M4G,East York,Leaside,43.709060,-79.363452
5,M4M,East Toronto,Studio District,43.659526,-79.340923
6,M1R,Scarborough,Wexford / Maryvale,43.750072,-79.295849
7,M9V,Etobicoke,South Steeles / Silverstone / Humbergate / Jam...,43.739416,-79.588437
8,M9L,North York,Humber Summit,43.756303,-79.565963
9,M5V,Downtown Toronto,CN Tower / King and Spadina / Railway Lands / ...,43.628947,-79.394420
10,M1B,Scarborough,Malvern / Rouge,43.806686,-79.194353
11,M5A,Downtown Toronto,Regent Park / Harbourfront,43.654260,-79.360636